@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
$brownRGBA:rgba(127, 75, 19, 0.42);
$lightOrange:#ffca93;
$orange:#fc8f1a;
$brown:#7f4b13;
$whiteOrange:#ffdfbe;
$white:#fff;
$boaderWhite:#fff4e9;
$boaderOrange:#fe9262;
$addWhite: #ffecd8;

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Open Sans";
    font-style: normal;
}